@model Futura.Models.Kunde

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kunde</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KundenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KundenName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editieren", "Edit", new { id = Model.KundenID }) |
    @Html.ActionLink("Zurück zur Liste", "Index")
</p>
