@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FUTURA</h1>
    <p class="lead">Ein Projekt management system</p>
    <p>von</p>
    <p>Max Berkhausen, Ismael Bajaoui, </p>
    <p>Lotfi El Bassri und Norman Stommel</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Einführung</h2>
        <p>
            Registrieren sie sich zuerst indem sie auf den Registrieren Reiter oben rechts, oder den Button hier unten klicken.
        </p>        
        <p><a class="btn btn-default" href="http://localhost:15305/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projekte anlegen</h2>
        <p>Wenn sie registriert und eingeloggt sind können sie ganz einfach Projekte anlegen idem sie auf den Projekt Reiter oben in der Leiste folgen. Danach müssen nur die Passenden daten angegeben werden und ihr Projekt ist erstellt</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Datenbank Pflegen</h2>
        <p>Je nach Rechtevergabe ihres Users sind sie in der Lage die Datenbank direkt über Futura zu Pflegen. Sie können neue Produkte oder einen Neuen Mitarbeiter im system erfassen welche dann wiederum für neue oder Aktuelle Projekte zur Verfügung stehen</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>